{% extends 'base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter ur moviename">
    <input type="text" name="des" placeholder="enter the movie des">
    <input type="date" name="year" placeholder="enter the released year">
    <input type="file" name="img">
    <input type="text" name="actors" placeholder="enter the actor name">
 <label for="categ">Choose a category:</label>

  <select id="categ" name="categ">
      {% for c in cat %}
    <option value="{{c.id}}">{{c.name}}</option>
      {% endfor %}

  </select>



    <input type="submit">
</form>
{% endblock %}