<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h2>Registration Form</h2>
<form action="{% url 'Movieapp:register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="UserName"><br>
     <input type="text" name="first_name" placeholder="enter ur first name"><br>
     <input type="text" name="last_name" placeholder="enter ur last name"><br>
     <input type="email" name="email" placeholder="enter ur email address"><br>
     <input type="password" name="password" placeholder="enter ur password"><br>
     <input type="password" name="password1" placeholder="confirm ur password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>